{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ survey.question }}</h1>

    <div id="votes" data-survey-id="{{ survey.id }}"></div>

    {{ encore_entry_script_tags('vote') }}
{% endblock %}
